* {
    font-family: 'Syncopate', sans-serif;

}

body {
    padding: 25px;
    background-image: none;
    background-image: url(./images/background-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}

.navbar {
    background-color: transparent;
}

.title {
    margin: 20px;
}

.centered {
    text-align: center;
    font-weight: bolder;
}

.gif-search {
    padding: 10px;
    margin: 10px;
    display: flex;
}

.form-control, .form-select, .btn {
    margin: 0px 5px 0px 5px;
}

.results-section {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.giphy-img {
    padding: 10px;
}