/******************* Reset ********************************/
/* not needed due to Bootstrap in the code */

/* *************************general****************************/

* {
    font-family: 'Syncopate', sans-serif;
}

body {
    padding: 25px;
    background-image: none;
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.justify-content-center {
    backdrop-filter: blur(50px);
}

.nav-item {
    font-weight: 700;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-color: darkslategray;
}

p {
    margin: 140px 80px 50px 80px;
}

img, svg {
    overflow: hidden;
    max-width: 300px;
}

/* *************************main styles ****************************/

.title {
    font-family: 'Rock Salt', cursive;
    margin: 18px;
    padding-top: 65px;
    font-size: 40px;
}

.error {
    text-align: center;
    font-weight:500;
    color: white;
    background-color: darkgoldenrod;
}

.centered {
    text-align: center;
    font-weight: 900;
    backdrop-filter: blur(50px);
}

.gif-search {
    padding: 10px;
    margin: 10px;
    display: flex;
}

.form-control, .form-select, .btn {
    margin: 0px 5px 0px 5px;
    border: solid;
    border-color: #198754;
}

.results-section {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* *************************media queries ****************************/

@media screen and (max-width: 1200px) {
    p {
        margin: 120px 25px 25px 25px;
    }

    .results-section {
        grid-template-columns: 1fr 1fr;
        padding: 45px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}

@media screen and (max-width: 992px) {
    .centered {
        margin: 100px 15px 25px 15px;
    }
    
    .gif-search {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .title {
        text-align: center;
    }
    
    .centered {
        margin: 80px 10px 25px 10px;
    }

    .gif-search {
        align-items: center;
        flex-direction: column;
    }

    .form-control, .form-select, .btn {
        margin: 10px;
    }

    .results-section {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .results-section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}